    <!-- JS -->
    <script src="{{ site.url }}/assets/js/jquery-1.12.0.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.dlmenu.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.goup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.url }}/assets/js/jquery.fitvid.min.js"></script>
    <script src="{{ site.url }}/assets/js/scripts.js"></script>
    <script>
      (function randomBio() {
        var bios = [
          'メギドラオンでございます。',
          'お前には無理だから諦めとけ。',
          '何でもは知らないわよ。',
          'そう。私に読めないのは空気だけ。',
          '今後も救世主たらんことを。',
          'まだ舞える。',
          '光速は俺らには遅すぎる。',
          'あなたが考えているほど、世界は悪くないから。',
          'いっぺん、死んでみる?'
        ];
        var index = Math.floor(Math.random() * bios.length);
        document.getElementById('bio').innerHTML = bios[index];
      })();
      <!-- Asynchronous Google Analytics snippet -->
      {% if site.google.analytics %}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google.analytics }}', 'auto');  
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
      {% endif %}
    </script>
    {% if page.comments != false %}
        {% include disqus_comments.html %}
    {% endif %}
